
  @import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Mina', sans-serif !important;
}

body{
  font-family: 'Mina', sans-serif !important;
  margin: 0%;
  background-color:#fafff4 !important;
}

.swal {
  margin-top: 60px;
  width: 350px;
  padding-bottom: 5px;  
}

.swal .swal2-icon {
  margin: 5px auto;
  width: 3em;
  height: 3.2em;
  border-color: #5fd441;
  color: #5bee3f;
}

.swal .swal2-title{
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
}

.swal .swal2-actions{
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bg {
  /* background-color: rgb(196, 228, 179); */
  background-image: url('../public/logoB.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .4;
}

