
  @import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');

h1,h2,h3,h4,h5,h6,p,span{
  font-family: 'Mina', sans-serif !important;
}

body{
  font-family: 'Mina', sans-serif !important;
  margin: 0%;
  background-color:#fafff4 !important;
}

.swal {
  margin-top: 60px;
  width: 350px;
  padding-bottom: 5px;  
}

.swal .swal2-icon {
  margin: 5px auto;
  width: 3em;
  height: 3.2em;
  border-color: #5fd441;
  color: #5bee3f;
}

.swal .swal2-title{
  text-align: center;
  font-size: 1.2rem;
  padding: 0;
}

.swal .swal2-actions{
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.map {
  max-width: 100%;
  min-height: 30vh;
  height: auto;
  display: block;
}

.whatsapp{
  z-index: 2000;
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  transition: all .7s ease-in-out;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.svgWhatsapp{
  width: 40px;
  height: auto;
  fill: greenyellow;
}

.enlace {
  text-decoration: none;
  color: #008000;
  font-size: 1.2rem;
}

.svg{
  cursor: pointer;
  color: #008000;
  width: 25px;
  height: auto;
}

.svg:hover{
  color: #76e447;
  transition: all .5s ease-in-out;
}

.contributors {
  text-decoration: none;
  font-size: .7rem;
  color: black;
}

@media (min-width: 600px) { 
  
  .map {
    min-height: 40vh;
  }

 }

@media (min-width: 1200px) { 
  
  .enlace {
    font-size: 1.4rem;
  }

 }